*.unity  text eol=lf
*.prefab text eol=lf
*.asset  text eol=lf
*.mat    text eol=lf
*.cs     text eol=lf

[Ll]ibrary/ -diff -merge
[Tt]emp/     -diff -merge
[Oo]bj/      -diff -merge
[Bb]uild/    -diff -merge

*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
